<!-- Navbar -->
<nav class="navbar">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6caS6Lsd31FACtdEfbN5MPZXiu8ivtQB7qQ&s" alt="">

  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</nav>


<!-- Main -->
<div class="hero">
  <app-camera></app-camera>
  <!-- <table [width]="400">
    <thead>
      <tr>
        <th class="Sno">Sno</th>
        <th>SepId</th>
        <th>Name</th>
        <th>Attendance</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="Sno">1</td>
        <td>3345</td>
        <td>Ali</td>
        <td>Present</td>
        <td>07-Nov-2024</td>
      </tr>
      <tr>
        <td class="Sno">2</td>
        <td>3346</td>
        <td>Test</td>
        <td>Absent</td>
        <td>07-Nov-2024</td>
      </tr>
    </tbody>
  </table> -->
</div>

<footer class="footer">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6caS6Lsd31FACtdEfbN5MPZXiu8ivtQB7qQ&s" alt="">
  <p>&copy;Copyright {{ symbol }}Riphah International University</p>
</footer>
